.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.image{
   margin-bottom: 150px; 
   margin-top: 50px;
   margin-left: 10px;
   image-rendering: auto;
   width: 400px;
   /* padding: 2px */
}
/* .img{
  margin-top: 50px;
} */
.newep{
  margin-top: 10px;
}
.newimg{
  padding: 20px;
}
.h-custom {
  height: calc(100% - 73px);
}
.newl{
  padding-left: 2.5rem; padding-right: 2.5rem;
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}